@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: "Kanit", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #3f3f3f;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  width: 500px;
}

.form {
  padding: 30px 50px;
}

.form-control {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 20px;
}

.form-control label {
  display: block;
  font-weight: 600;
  color: gray;
  margin-bottom: 10px;
}

.form-control input {
  border-radius: 5px;
  display: block;
  width: 100%;
  padding: 10px;
}

.form button {
  cursor: pointer;
}

